html,
body,
#root {
    min-height: 100%;
}

* {
    // 滚动条样式
    // ::-webkit-scrollbar {
    //     width: 6px;
    //     height: 6px;
    // }
}

.container {
    margin: auto;
    max-width: 1440px;
}

.cyc_card {
    background: #fff;
    border-radius: 6px;
}

.cyc_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.cyc_click_link {
    &:hover {
        color: #1171ee !important;
    }
}