html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

/* 针对 Chrome、Safari 和 Edge */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* 仅对纵向滚动条生效，横向滚动条需要设置 height */
}

*::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8c8c8c;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

.container {
    margin: auto;
    max-width: 1440px;
}

.cyc_card {
    background: #fff;
    border-radius: 6px;
}

.cyc_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.cyc_click_link {
    &:hover {
        color: #1171ee !important;
        cursor: pointer;
    }
}